<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bower:css -->
    <script type="text/javascript" src="angular.js"></script>
    <!-- endbower -->
</head>
<body ng-app="myapp">

<div ng-controller="ParentController">
    <div ng-controller="ChildController">
        <input type="text" ng-model="person.name" placeholder="Name"></input>
        <a ng-click="sayHello()">Say hello</a>
    </div>
    {{ person }}
</div>
<!-- bower:js -->
<!-- endbower -->
<script>
    var app = angular.module("myapp",[]);
    app.controller('ParentController', function($scope) {
        $scope.person = {greeted: false};
    });

    app.controller('ChildController', function($scope) {
        $scope.sayHello = function() {
            $scope.person.greeted = true;
        }
    });
</script>
</body>
</html>